$bg-default: hsl(253deg 8% 23%);
$text-color: hsl(171deg 9% 84%);
$secondary: hsl(240deg 7% 29%);
$shadow: hsl(0deg 0% 19%);
$primary: hsl(0deg 11% 40%);
$accent: hsl(73deg 75% 42%);
$accent-40: hsl(73deg 75% 42% / 40%);
