@use '@styles/abstracts' as *;

.form {
    display: flex;
    flex-direction: column;
    gap: spacing(10);
}

.result {
	padding: spacing(2);
	margin-top: spacing(8);
	font-size: spacing(5);
	text-align: center;
	background-color: $secondary;
	border-radius: spacing(2);

	& span {
		color: $accent;
	}
}
