@use '@styles/abstracts' as *;

.base__title {
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    min-height: spacing(16);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3;
    text-shadow: 3px 3px 2px hsl(0deg 0% 0% / 40%);
    background-color: $bg-default;
    border-bottom: 1px solid $secondary;
}

.base__container {
    margin: spacing(8) spacing(4);
}
